@page
@model Lab2.Pages.ChatModel
@{
    ViewData["Title"] = "Chat";
}
<div class="profile d-flex flex-column justify-content-between py-4">
    <div class="d-flex flex-column align-items-center">
        <i class="fa-solid fa-bars fa-2x"></i>
        <img class="mt-5" src="@Model.CurrentUser.Avatar" width="35" style="border-radius:50%" />
    </div>

    <div class="d-flex flex-column align-items-center">
        <i class="fa-regular fa-comment fa-2x my-3 py-2 px-2  active"></i>
        <i class="fa-regular fa-user fa-2x my-3 py-2 px-2 "></i>
        <i class="fa-solid fa-circle fa-2x my-3 mb-4 px-2 px-2" style="color:#ffc800"></i>
    </div>
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
        <button type="submit" class="nav-link btn btn-link text-dark"> <i class="fa-solid fa-power-off fa-2x py-2 px-2 mb-4"></i></button>
    </form>
</div>
<div class="chat-container">
    <div class="list-friend">
        <div class="chat-header d-flex align-items-center justify-content-between">
            <h2 style="font-weight:900">Chat</h2>
            <button class="create-chat d-flex align-items-center px-3 py-3"><i class="fa-solid fa-plus mr-2"></i> <span>Create New Chat</span></button>
        </div>
        <form class="mt-3" action="">
            <input type="text" class="input-search" placeholder="search here..." />
            <button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass "></i></button>
        </form>
        <div class="user-list mt-5 pt-3">
            @foreach (var item in @Model._users)
            {
                <div class="user d-flex align-items-center" id="@item.Id">
                    <img src="@item.Avatar" alt="avatar" width="60" class="avatar mr-2">
                    <h5 style="font-weight:700">@item.UserName.Substring(0, item.UserName.IndexOf("@", StringComparison.Ordinal))</h5>
                </div>
            }
        </div>

    </div>
    <div class="chat-frame"></div>

</div>
<script src="~/js/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
<script src="~/js/moment/moment.min.js" asp-append-version="true"></script>
<script src="~/js/chat.js"></script>
<style>
    .active {
        background: linear-gradient(92.68deg, white -67%, rgb(42, 139, 242) 100%);
        border-radius: 30%;
    }

    .avatar {
        border-radius: 50%;
    }

    .user-list {
        cursor: pointer;
    }
    .chat-user{
    }

    .chat-header {
        display: flex;
        height: 90px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        position: relative;
        -webkit-box-align: center;
        align-items: center;
    }

    .search-btn {
        background: none;
        border: none;
        position: absolute;
        right: 50px;
        top: 16%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .profile {
        height: 100%;
        position: fixed;
        width: 96px;
        align-items: center;
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
        border-radius: 2rem;
        top: 0px;
        left: 0px;
        z-index: 9;
    }

    .input-search {
        width: 95%;
        outline: none;
        border: none;
        background: linear-gradient(180deg,#f3f3fb,#fdfbfd);
        border-radius: 32px;
        padding: 16px;
        font-size: 16px;
        transition: all .2s ease-in;
        position: absolute;
    }

    .create-chat {
        border-radius: 16px;
        background: linear-gradient(92.68deg, rgb(124, 184, 247) 0%, rgb(42, 139, 242) 100%);
        box-shadow: rgb(42 139 242 / 15%) 6px 6px 25px, rgb(42 139 242 / 5%) 4px 4px 25px, rgb(42 139 242 / 15%) 10px 6px 25px;
        border: none;
        color: white;
    }

    .chat-container {
        display: flex;
        width: calc(100% - 100px);
        position: absolute;
        left: 100px;
        top: 80px;
        height: calc(100% - 80px);
        padding: 0px 10px;
        overflow: hidden;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .list-friend {
        display: flex;
        height: 100%;
        width: 50%;
        flex-direction: column;
        padding: 10px;
        box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
        border-radius: 16px;
        position: absolute;
        left: 0px;
    }

    .chat-frame {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
        border-radius: 16px;
        position: absolute;
        background: white;
        left: 50%;
        width: 50%;
    }
</style>

