@page
@model WebApplication2.Pages.List.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 style="font-weight:100">Service Manager</h1>

<form>
    <p>
        Room: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<h3>List of Services</h3>
<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="JsonFile" />
      <input type="submit" value="Import" />
</form>
<table class="table mt-3 table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].RoomTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].FeeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Service)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FeeType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Month)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                @{
                    if (item.EmployeeNavigation == null)
                    {
                        <td>Unpaid</td>
                    }
                    else
                    {
                        <td>Service has been paid. Employee: @item.EmployeeNavigation.Name</td>
                    }

                }
            </tr>
        }
    </tbody>
</table>
